{% extends "index.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="loginName">Login Name</label>
    <input
      type="text"
      class="form-control"
      id="loginName"
      name="loginName"
      required="required"
      placeholder="Enter login name"
    />
  </div>

  <div class="form-group">
    <label for="fullName">Full Name</label>
    <input
      type="text"
      class="form-control"
      id="fullName"
      name="fullName"
      required="required"
      placeholder="Enter Your Full Name"
    />
  </div>

  <div class="form-group">
    <label for="phoneNumber">Phone Number</label>
    <input
      type="tel"
      class="form-control"
      id="phoneNumber"
      name="phoneNumber"
      pattern="^\d{3}-\d{3}-\d{4}$"
      placeholder="Enter Your Phone Number"
    />
  </div>
  
    <div class="form-group">
    <label for="address">Address</label>
    <input
      type="text"
      class="form-control"
      id="address"
      name="address"
      placeholder="Enter Your Address"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      required="required"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <br />
  <button type="Create Account" class="btn btn-primary">Create Account</button>
</form>
{% endblock %}